#getData card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; */

    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}
.mainDiv{
    width: 13rem;
    border: 1px solid black;
     

}

.cardImg{
    width: 13rem;
    /* height: 10rem; */
}